<div class="stay-informed-success-wrapper">
  <div class="title">
    <div class="stay-informed-success-label">Was ist das Altersguthaben?</div>
  </div>

  <div class="first-stage">
    <div class="controls-wrapper">
      <p>
        Das Altersguthaben in der Pensionskasse setzt sich aus den jährlich von Ihnen und Ihrem Arbeitgeber geleisteten Sparbeiträgen, freiwilligen Einlagen zuzüglich Zinszahlungen.
      </p>
      <p>
        Die höhe Ihres aktuellen Altersguthabens können Sie Ihrem von der Pensionskasse zugestelltem Pensionskassenausweis entnehmen.
      </p>
      <p>
        Sie können Ihren Ausweis jederzeit bei Ihrer <strong>Pensionskasse</strong> oder Ihrem <strong>Arbeitgeber</strong> beantragen.
      </p>
    </div>
  </div>
</div>
