<div class="stay-informed-success-wrapper">
  <div class="title">
    <div class="stay-informed-success-label">3. Säule investieren</div>
  </div>

  <div class="first-stage">
    <div class="controls-wrapper">
      <p>
        In der 1. Säule haben Sie keinen Einfluss auf die gewählten Anlagestrategien. Diese sind staatlich geregelt. Ähnlich verhält es sich mit der 2. Säule, auch hier haben Sie in der Regel kein Mitbestimmungsrecht. Je nach Risikoneignung haben Sie im überobligatorischem Bereich die Möglichkeit, in sichere oder in die riskantere Lösungen zu investieren. In der 3. Säule haben Sie die grösste Freiheit. Anstatt die Gelder bis zur Pensionierung auf Konten zu halten, können Sie zum Beispiel in 3a-Vorsorgefonds investieren. Diese halten Gelder in Aktien, Obligationen und anderen Anlagen.
      </p>
      <p>
        Durch Klicken auf “Übernehmen” können Sie simulieren, wie sich die Investition in Anlagen Ihrer Vermögenswerte der 3. Säule auf Ihre zukünftige Rente auswirkt.
      </p>
    </div>
    <div class="btn-wrapper">
      <app-button
        [isFull]="true"
        [img]="'assets/icons/check.svg'"
        [title]="'Anwenden'">
      </app-button>
    </div>
  </div>
</div>
