@import "../../../../assets/styles/constants/colors";
@import "../../../../assets/styles/constants/breakpoints";


:host {
  width: 100%;
  .stay-informed-success-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .stay-informed-success-label {
      font-weight: bold;
      font-size: 26px;
    }

    .title {
      display: flex;
      width: 100%;
      padding-bottom: 39px;
    }

    .controls-wrapper {
      margin-bottom: 49px;
      width: 100%;
      flex: 1;
    }

    .btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 54px;

      .border-button {
        border: 1px solid #303652;
        border-radius: 8px;
        ::ng-deep button {
          color: #303652;
        }
      }
    }
  }
}
