<div class="stay-informed-success-wrapper">
  <div class="title">
    <div class="stay-informed-success-label">Ausschöpfen des 3. Säule Beitrags</div>
  </div>

  <div class="first-stage">
    <div class="controls-wrapper">
      <p>
        Der Staat definiert den maximalen jährlichen Betrag, der in die 3. Säule investiert werden kann (6'826 CHF für das Jahr 2020). Nicht jeder schöpft diesen Maximalbetrag aus. Doch kannst du.(wie formulieren?)
      </p>
      <p>
        Wenn Sie auf “Übernehmen” klicken, können Sie sehen, wie sich die Ausschöpfung des jährlichen Maximalbeitrags in die Säule 3a auf Ihr zukünftiges Vermögen auswirkt.
      </p>
    </div>
    <div class="btn-wrapper">
      <app-button
        [isFull]="true"
        [img]="'assets/icons/check.svg'"
        [title]="'Anwenden'">
      </app-button>
    </div>
  </div>
</div>
