<div class="content">
  <div class="title">
    2. Säule
  </div>

  <div  class="description">
    Wenn Sie in der Schweiz beschäftigt sind, sind Sie und Ihr Arbeitgeber verpflichtet, monatliche Beiträge in die sogenannte berufliche Vorsorge zu zahlen. Die berufliche Vorsorge wird auch als Pensionskasse oder PK bezeichnet.  </div>
  <div class="first-row">
      <app-slider (isOpenPopup)="openPopup()" [isHelp]="true" title="Jährliches Erwerbseinkommen" [step]="1000" [min]="10000" [max]="500000" metric="CHF" [value]="100000"></app-slider>
  </div>
  <div class="third-row">
    <app-button title="Weiter" [isFull]="true" [img]="'assets/icons/right-arrow.svg'"></app-button>
  </div>
</div>
