@import "../../../assets/styles/constants/colors";
@import "../../../assets/styles/constants/breakpoints";
@import '../../../assets/styles/font-size';

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56px;
  border: 1px solid $dark;
  border-radius: 12px;

  @media (max-width: $small) {
    height: 64px;
  }

  label {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    padding: 5px 10px;
    border-bottom: 1px solid $dark;

    @media (max-width: $small) {
      @include fluidMobileFontSize(11px, 11px);
      line-height: 13px;
      padding: 6px 12px;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 10px;

    input::placeholder {
      color: $dark;
    }

    input {
      font-family: Poppins, Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      border: none;
      background: none;
      color: #A1A4B1;
      outline: none;

      @media (max-width: $small) {
        @include fluidMobileFontSize(14px, 16px);
      }
    }
  }

  &.validation-error {
    color: $red;
  }
}
