@import "../../../assets/styles/constants/colors";
@import "../../../assets/styles/constants/breakpoints";
@import '../../../assets/styles/font-size';


.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 56px;

  @media (max-width: $small) {
    height: 64px;
  }

  label {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    padding: 5px 10px;

    @media (max-width: $small) {
      @include fluidMobileFontSize(11px, 11px);
      line-height: 13px;
      padding: 6px 12px;
    }
  }

  .input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 56px;
    padding: 0 10px;

    .edit-icons{
      position: absolute;
      top: 0;
      border-left: 1px solid $blue-black;;
      right: 10px;
      width: 40px;
      height: 100%;
    }
    //.up-icon{
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  width: 40px;
    //  border-bottom: 1px solid $blue-black;
    //  height: 50%;
    //  background: url("../../../assets/icons/input-arrow-up.svg") no-repeat center;
    //  cursor: pointer;
    //}
    //
    //.down-icon{
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //  width: 40px;
    //  height: 50%;
    //  background: url("../../../assets/icons/input-arrow-up.svg") no-repeat center;
    //  transform: rotate(-180deg);
    //  cursor: pointer;
    //}
    input::placeholder {
      color: $blue-black;
    }
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      width: 40px;
      height: 50%;
      background: url("../../../assets/icons/input-arrow-up.svg") no-repeat center;
      transform: rotate(-180deg);
      cursor: pointer;
    }
    input {
      position: relative;
      font-family: Poppins, Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      height: 56px;
      border: 1px solid $blue-black;
      border-radius: 8px;
      background: none;
      color: #A1A4B1;
      outline: none;

      @media (max-width: $small) {
        @include fluidMobileFontSize(14px, 16px);
      }
    }

  }

  &.validation-error {
    color: $red;
  }
}
