<div class="stay-informed-success-wrapper">
  <div class="title">
    <div class="stay-informed-success-label">Reinvestition der Steuerersparnisse</div>
  </div>

  <div class="first-stage">
    <div class="controls-wrapper">
      <p>
        Einzahlungen in die Pensionskasse oder in die Säule 3a verbessern nicht nur Ihre Zukunft, sondern haben auch einen wichtigen Vorteil: Sie sind vom steuerbaren Einkommen abzugsfähig. Anstatt diese Steuerersparnis auf einem Bankkonto liegen zulassen können Sie diesen ersparten Betrag wieder investieren.

      </p>
      <p>
        Klicken Sie auf Übernehmen und sehen Sie, was passiert, wenn Sie den ersparten Betrag  in verschiedene Vermögenswerte reinvestieren.
      </p>
    </div>
    <div class="btn-wrapper">
      <app-button
        [isFull]="true"
        [img]="'assets/icons/check.svg'"
        [title]="'Anwenden'">
      </app-button>
    </div>
  </div>
</div>
