@import "../../../assets/styles/constants/colors";


:host{
  .wrapper{
    height: 100%;
    overflow:hidden;
    padding: 80px 168px;
    background-image: url("../../../assets/icons/bggraphic.svg");
    background-color: $white-2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: -70px 0px;
    &:before{
      content: '';

    }
    &:after{
      content: '';
      position: absolute;
      background: url("../../../assets/icons/Tree.svg") no-repeat;
      z-index: 3;
      width: 285px;
      height: 298.4px;
      left: 160px;
      bottom: 40px;
    }
    .body{
      position: relative;
      z-index: 10;
    }

    .content{
      margin-top: 74px;
      width: 100%;
      min-height: 100vh;
      height: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      &-left-part{
        position: relative;
        margin-right: 96px;
        &-title{
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 130%;
        }
        &-description{
          margin-top: 18px;
        }
      }

      &-right-part{
        flex: 1 auto;
        .first-row{
          max-height: 56px;
          margin-top: 47px;
          display:flex;
          justify-content: space-between;
          align-items: center;
        }
        .second-row{
          margin-top: 32px;
        }
        .third-row{
          margin-top: 32px;
          display:flex;
          justify-content: space-between;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
        }
        .forth-row{
          margin-top: 43px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        &-title{
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 150%;
        }
      }
    }
  }
}
