<div class="stay-informed-success-wrapper">
  <div class="title">
    <div class="stay-informed-success-label">AHV-Beitragslücken schliessen</div>
  </div>

  <div class="first-stage">
    <div class="controls-wrapper">
      <p>
        Lücken können geschlossen werden, indem die fehlenden Beiträge nachbezahlt werden. Das ist aber nur möglich bei Lücken für Zeiten, in denen Sie in der Schweiz versichert waren und die während der letzten fünf Jahre entstanden sind. Weiter zurück sind keine Nachzahlungen möglich.
      </p>
      <p>
        Durch Klicken auf “weiter” können Sie die Schliessung von AHV-Lücken der letzten 5 Jahren simulieren und erkennen, wie sich dadurch die Höhe Ihrer zukünftigen AHV-Rente verändert.
      </p>
    </div>
    <div class="btn-wrapper">
      <app-button
        [isFull]="true"
        [img]="'assets/icons/check.svg'"
        [title]="'Anwenden'">
      </app-button>
    </div>
  </div>
</div>
