@import "../../../assets/styles/constants/colors";
@import '../../../assets/styles/font-size';

.header{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  background: transparent !important;
  z-index: 10;
  padding: 0 162px;
  color: $dark;
}

.menu-links{
  display: flex;
}

.menu-links-title{
  display: flex;
}
.title{
  align-self: flex-end;
}
.menu-links-item{
  margin-left: 44px;
}
.item{
  font-family: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor:pointer;

  .text{
    margin-left: 6px;
  }

  .mat-icon.schweizer {
    background: url("../../../assets/icons/swiss-pension.svg") no-repeat;
  }

  .mat-icon.informiert{
    background: url("../../../assets/icons/mail.svg") no-repeat;
  }
  .mat-icon.log-in{
    background: url("../../../assets/icons/log-in.svg") no-repeat;
  }
  .mat-icon.title-item{
    background: url("../../../assets/icons/Logo.svg") no-repeat;
    width: 32px;
    height: 30px;
    margin-right: 8px;
  }

}

.language{
  width: 50px !important;
}



