<div class="header">
  <div class="menu-links-title item">
    <mat-icon class="title-item"></mat-icon>
    <div class="title">Ybe.CH</div>
  </div>
  <div class="menu-links">
  <div class="menu-links-item item language">
    <app-select></app-select>
  </div>
  <div class="menu-links-item item">
    <mat-icon class="schweizer"></mat-icon>
    <span class="schweizer text">Schweizer Vorsorgesystem</span>
  </div>
  <div class="menu-links-item item" (click)="openStayInformedPopup()">
    <mat-icon class="informiert"></mat-icon>
    <span class="informiert text">Informiert bleiben</span>
  </div>
  <div class="menu-links-item item" (click)="openLogInPopup()">
    <mat-icon class="log-in"></mat-icon>
    <span class="log-in text">Anmelden</span>
  </div>
  </div>
</div>

<ng-template #logInPopupTemplate>
  <app-logIn-popup (closeDialog)="dialog.close()" [dialog]="dialog"></app-logIn-popup>
</ng-template>

<ng-template #stayInformedPopupTemplate>
  <app-stay-informed-popup (closeDialog)="dialog.close()" (openSuccess)="dialog.close(); openStayInformedSuccessPopup()" [dialog]="dialog"></app-stay-informed-popup>
</ng-template>

<ng-template #stayInformedSuccessPopupTemplate>
  <app-stay-informed-success-popup (closeDialog)="dialog.close()" [dialog]="dialog"></app-stay-informed-success-popup>
</ng-template>
