<div class="select">
  <ng-container>
    <mat-form-field [floatLabel]="'never'" [ngClass]="{'active': isActive, 'without-border': !isBorderShow}">
      <mat-select
        #matSelect
        name="app-select"
        [panelClass]="['select-panel']"
        [(ngModel)]="selectedValue"
        (selectionChange)="select()">
        <mat-select-trigger *ngIf="isShortSelectTitle">
          {{selectedValue !== undefined ? (shortValue) : ''}}
        </mat-select-trigger>

        <ng-container *ngIf="deviceDetectorService.isMobile() || isShortList; else desktopPanel">
          <ng-container *ngTemplateOutlet="options"></ng-container>
        </ng-container>

        <ng-template #desktopPanel>
          <perfect-scrollbar #scroll>
            <ng-container *ngTemplateOutlet="options"></ng-container>
          </perfect-scrollbar>
        </ng-template>

        <ng-template #options>
          <mat-option *ngFor="let option of list" [value]="option.value">
            {{option.title}}
          </mat-option>
        </ng-template>

      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
