<div  class="list">
  <div  class="list-item selected-item">
    <span class="list-item-image">
      <img [src]="'assets/icons/personal-info-selected.svg'">
    </span>
    <span class="list-item-text selected">Persönliche Angaben</span>
  </div>
  <div  class="list-item">
    <span class="list-item-image">
     <img [src]="'assets/icons/income-gross.svg'">
    </span>
    <span class="list-item-text">Einkommen</span>
  </div>
  <div  class="list-item">
    <span class="list-item-image">
      <img [src]="'assets/icons/2d-pillar.svg'">
    </span>
    <span class="list-item-text">Berufliche Vorsorge (2.Säule)</span>
  </div>
  <div  class="list-item">
    <span class="list-item-image">
     <img [src]="'assets/icons/3d-pillar.svg'">
    </span>
    <span class="list-item-text">Gebundene Vorsorge (Säule 3a)</span>
  </div>
  <div  class="list-item">
    <span class="list-item-image">
      <img [src]="'assets/icons/additional.svg'">
    </span>
    <span class="list-item-text">Weitere  Vermögenswerte</span>
  </div>
</div>
