<div class="stay-informed-success-wrapper">
  <div class="title">
    <div class="stay-informed-success-label">Einkauf in die Pensionskasse</div>
  </div>

  <div class="first-stage">
    <div class="controls-wrapper">
      <p>
        Die minimal zu zahlenden Sparbeiträge von Arbeitnehmern und Arbeitgebern in die Pensionskasse sind gesetzlich klar definiert. Die meisten Pensionskassen erlauben (oder sehen dies sogar vor) höhere Sparbeiträge zu leisten. Dies sind Leistungen über dem gesetzlichen Minimum und somit überobligatorisch. Zu beachten und unterscheiden sind freiwillige Einzahlungen in die Pensionskasse. Diese unterliegen der dreijährigen Sperrfrist. Es gibt nur wenige Ausnahmen in welchen das Kapital vor der Pensionierung bezogen werden kann.
      </p>
      <p>
        Durch Klicken auf “Übern” können Sie simulieren, wie sich diese zusätzlichen Beiträge auf Ihre zukünftigen Renten- und Steuerersparnisse auswirken.
      </p>
    </div>
    <div class="btn-wrapper">
      <app-button
        [isFull]="true"
        [img]="'assets/icons/check.svg'"
        [title]="'Anwenden'">
      </app-button>
    </div>
  </div>
</div>
